In [34]:
from helper import unzip_gz, zip_gz
import pandas as pd

# Display all columns
pd.set_option('display.max_columns', None)

In [2]:
df = unzip_gz("../data/clean_crop_27.gz")

In [5]:
df['LOCATION_DESC'].value_counts()

LOCATION_DESC
TEXAS             936824
NEBRASKA          718108
KANSAS            649006
NORTH DAKOTA      590836
MONTANA           574100
SOUTH DAKOTA      533799
VIRGINIA          478902
COLORADO          459704
MINNESOTA         448424
NORTH CAROLINA    448143
GEORGIA           446910
OKLAHOMA          435026
MISSOURI          407643
CALIFORNIA        365992
MICHIGAN          365078
WISCONSIN         362380
ILLINOIS          359969
IDAHO             340554
KENTUCKY          340046
PENNSYLVANIA      333179
US TOTAL          326818
OHIO              325983
IOWA              309488
TENNESSEE         303732
INDIANA           302991
ARKANSAS          291968
OREGON            288800
MISSISSIPPI       284408
WASHINGTON        273719
NEW YORK          250254
ALABAMA           246801
LOUISIANA         231420
SOUTH CAROLINA    224377
WYOMING           220076
NEW MEXICO        199458
UTAH              164047
MARYLAND          148256
FLORIDA           147628
ARIZONA           127772
NEW JERSEY        110601
DELAWARE           84462
MAINE              74390
MASSACHUSETTS      60528
VERMONT            56371
CONNECTICUT        52261
NEW HAMPSHIRE      50465
NEVADA             46165
RHODE ISLAND       38615
OTHER STATES       16078
ALASKA             12873
HAWAII             12629
WEST VIRGINIA       2508
Name: count, dtype: int64

In [16]:
df['CV_%'].isnull().sum()

12092167

In [19]:
df = df.drop(columns=['COUNTRY_NAME', 'COUNTRY_CODE', 'STATE_NAME', 'STATE_ALPHA', 'STATE_FIPS_CODE', 'STATE_ANSI', 'COUNTY_ANSI', 'COUNTY_CODE', 'REGION_DESC', 'ZIP_5', 'WATERSHED_DESC', 'CONGR_DISTRICT_CODE'])

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,DOMAIN_DESC,DOMAINCAT_DESC,AGG_LEVEL_DESC,ASD_CODE,ASD_DESC,COUNTY_NAME,WATERSHED_CODE,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
0,SURVEY,CROPS,FIELD CROPS,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,YIELD,BU / ACRE,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,COUNTY,70.0,SOUTHWEST,CASS,0.0,MICHIGAN,1972,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,23.1,NaN
1,SURVEY,CROPS,FIELD CROPS,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,ON FARM,STOCKS,BU,"SOYBEANS, ON FARM - STOCKS, MEASURED IN BU",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,NaN,0.0,TENNESSEE,1965,POINT IN TIME,12,12,FIRST OF DEC,NaN,2012-01-01 00:00:00,"2,236,000",NaN
2,SURVEY,CROPS,FIELD CROPS,SUGARBEETS,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,SUCROSE,PCT,"SUGARBEETS - SUCROSE, MEASURED IN PCT",TOTAL,NOT SPECIFIED,COUNTY,10.0,NORTHWEST,PUTNAM,0.0,OHIO,1983,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,16.26,NaN
3,SURVEY,CROPS,FIELD CROPS,HAY,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,PRODUCTION,TONS,"HAY - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,COUNTY,10.0,NORTHWEST,ANDREW,0.0,MISSOURI,1992,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"49,500",NaN
4,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,ALL PRODUCTION PRACTICES,SILAGE,PRODUCTION,TONS,"CORN, SILAGE - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,COUNTY,50.0,CENTRAL,CORTLAND,0.0,NEW YORK,1991,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"184,200",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14880560,SURVEY,CROPS,FRUIT & TREE NUTS,APPLES,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,"CONDITION, PREVIOUS YEAR",PCT VERY POOR,"APPLES - CONDITION, PREVIOUS YEAR, MEASURED IN...",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,NaN,0.0,VERMONT,2024,WEEKLY,34,34,WEEK #34,2024-08-25,2024-08-26 16:00:00,0,NaN
14880561,SURVEY,CROPS,FIELD CROPS,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,"CONDITION, PREVIOUS YEAR",PCT FAIR,"SOYBEANS - CONDITION, PREVIOUS YEAR, MEASURED ...",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,NaN,0.0,SOUTH DAKOTA,2024,WEEKLY,29,29,WEEK #29,2024-07-21,2024-07-22 16:00:00,34,NaN
14880562,SURVEY,CROPS,FIELD CROPS,PEANUTS,ALL CLASSES,ALL PRODUCTION PRACTICES,"IN SHELL, ROASTING",PRODUCTION,LB,"PEANUTS, IN SHELL, ROASTING - PRODUCTION, MEAS...",TOTAL,NOT SPECIFIED,NATIONAL,NaN,NaN,NaN,0.0,US TOTAL,2023,MONTHLY,11,11,NOV,NaN,2024-09-25 15:00:00,"12,610,000",NaN
14880563,SURVEY,CROPS,FIELD CROPS,PEANUTS,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,"CONDITION, 5 YEAR AVG",PCT FAIR,"PEANUTS - CONDITION, 5 YEAR AVG, MEASURED IN P...",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,NaN,0.0,FLORIDA,2024,WEEKLY,32,32,WEEK #32,2024-08-11,2024-08-12 16:00:00,25,NaN
14880564,SURVEY,CROPS,FIELD CROPS,WHEAT,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,SALES,PCT OF MKTG YEAR,"WHEAT - SALES, MEASURED IN PCT OF MKTG YEAR",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,NaN,0.0,MONTANA,2024,MONTHLY,3,3,MAR,NaN,2024-08-30 15:00:00,8,NaN

In [64]:
df = df.drop(columns=['LOAD_TIME', 'CV_%', 'BEGIN_CODE', 'END_CODE', 'WATERSHED_CODE', 'ASD_CODE', 'SOURCE_DESC', 'SECTOR_DESC', 'GROUP_DESC', 'UTIL_PRACTICE_DESC'])
df.head()

,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,DOMAIN_DESC,DOMAINCAT_DESC,AGG_LEVEL_DESC,ASD_DESC,COUNTY_NAME,LOCATION_DESC,YEAR,FREQ_DESC,REFERENCE_PERIOD_DESC,WEEK_ENDING,VALUE
0,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,YIELD,BU / ACRE,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,COUNTY,SOUTHWEST,CASS,MICHIGAN,1972,ANNUAL,YEAR,NaN,23.1
1,SOYBEANS,ALL CLASSES,ALL PRODUCTION PRACTICES,STOCKS,BU,"SOYBEANS, ON FARM - STOCKS, MEASURED IN BU",TOTAL,NOT SPECIFIED,STATE,NaN,NaN,TENNESSEE,1965,POINT IN TIME,FIRST OF DEC,NaN,"2,236,000"
2,SUGARBEETS,ALL CLASSES,ALL PRODUCTION PRACTICES,SUCROSE,PCT,"SUGARBEETS - SUCROSE, MEASURED IN PCT",TOTAL,NOT SPECIFIED,COUNTY,NORTHWEST,PUTNAM,OHIO,1983,ANNUAL,YEAR,NaN,16.26
3,HAY,ALL CLASSES,ALL PRODUCTION PRACTICES,PRODUCTION,TONS,"HAY - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,COUNTY,NORTHWEST,ANDREW,MISSOURI,1992,ANNUAL,YEAR,NaN,"49,500"
4,CORN,ALL CLASSES,ALL PRODUCTION PRACTICES,PRODUCTION,TONS,"CORN, SILAGE - PRODUCTION, MEASURED IN TONS",TOTAL,NOT SPECIFIED,COUNTY,CENTRAL,CORTLAND,NEW YORK,1991,ANNUAL,YEAR,NaN,"184,200"

In [65]:
all_units = df['UNIT_DESC'].value_counts()
for key, value in all_units.items():
    print(f"Unit: {key}     {value}")

Unit: ACRES     4763618
Unit: OPERATIONS     2362827
Unit: BU     1524060
Unit: BU / ACRE     1251681
Unit: TONS     570197
Unit: TONS / ACRE     419045
Unit: BU / NET PLANTED ACRE     385748
Unit: PCT GOOD     262660
Unit: PCT FAIR     262405
Unit: PCT EXCELLENT     257606
Unit: PCT POOR     256849
Unit: PCT HARVESTED     249957
Unit: PCT VERY POOR     246307
Unit: $     203430
Unit: LB / ACRE     200773
Unit: PCT PLANTED     166678
Unit: LB     157843
Unit: $ / BU     152858
Unit: CWT     141347
Unit: $ / TON     100202
Unit: PCT EMERGED     90400
Unit: 480 LB BALES     79359
Unit: $ / CWT     64761
Unit: PCT HEADED     62506
Unit: RUNNING BALES     52883
Unit: $ / LB     41591
Unit: PCT OF MKTG YEAR     39838
Unit: PCT MATURE     38828
Unit: LB / NET PLANTED ACRE     36893
Unit: CWT / ACRE     32655
Unit: PCT BLOOMING     23803
Unit: PCT COLORING     23688
Unit: PCT SETTING PODS     20609
Unit: PCT DROPPING LEAVES     20066
Unit: PCT BOLLS OPENING     19752
Unit: PCT DOUGH     19181
Unit: PCT SILKING     18673
Unit: PCT DENTED     18412
Unit: PCT SETTING BOLLS     16421
Unit: PCT SQUARING     16208
Unit: $ / BOX, PHD EQUIV     14857
Unit: BALES     11829
Unit: $ / BOX, ON TREE EQUIV     11767
Unit: PCT     11462
Unit: NUMBER     8273
Unit: SQ FT     8229
Unit: PCT FULL BLOOM     8052
Unit: BOXES     7475
Unit: PCT BY TYPE     7253
Unit: PCT PEGGING     6846
Unit: PCT GREEN TIP     6574
Unit: CENTS / BU     6094
Unit: PCT JOINTING     6084
Unit: PCT PINK     5960
Unit: PCT FRUIT SET     5681
Unit: LB, RAW BASIS     5434
Unit: PCT PETAL FALL     5068
Unit: PCT OF PARITY     4319
Unit: LB / BALE, AVG     4285
Unit: $ / BOX, FOB     4084
Unit: PCT BY SIZE GROUP     3660
Unit: $, PHD EQUIV     3439
Unit: INDEX     2932
Unit: ACRE FEET / ACRE     2602
Unit: PCT TRANSPLANTED     2599
Unit: PCT BY GRADE     2050
Unit: PCT NONE     1840
Unit: PCT MODERATE     1836
Unit: PCT LIGHT     1836
Unit: PCT DUG     1788
Unit: PCT BOOTED     1774
Unit: TONS / NET PLANTED ACRE     1472
Unit: BU / PLANTED ACRE     1378
Unit: PODS / 18 SQ FT     1279
Unit: PLANTS / ACRE     1252
Unit: INCHES     1237
Unit: POINTS / LB     1233
Unit: EARS / ACRE     1214
Unit: PCT OF FARM SALES     1172
Unit: PCT ACTIVE     1121
Unit: PCT FINISHED     1121
Unit: BOXES / ACRE     1112
Unit: PCT OF TOTAL STOCKS     1081
Unit: PCT TOPPED     1049
Unit: LB, NET WEIGHT     924
Unit: PCT OF FARM OPERATIONS     859
Unit: $ / BOX     845
Unit: PCT MILK     823
Unit: $ / TON, DRY BASIS     654
Unit: GALLONS     633
Unit: REACTIONS SINCE 1984     600
Unit: CWT / NET PLANTED ACRE     548
Unit: PCT CUT     522
Unit: PCT FULLY PODDED     510
Unit: PCT OF PRODUCTION     508
Unit: BALES / ACRE     493
Unit: PCT SEEDBED PREPARED     479
Unit: INCHES / ROW     460
Unit: PCT RAY FLOWERS DRIED OR DROPPED     433
Unit: PCT BY METHOD     432
Unit: PCT OF OPERATIONS BY METHOD     432
Unit: HEAD / SQ FT     420
Unit: PCT TURNING YELLOW     411
Unit: REACTIONS SINCE 1985     400
Unit: PCT PASTURED     366
Unit: PCT HEAVY     362
Unit: PCT TURNING BROWN     360
Unit: PCT SEVERE     356
Unit: BOLLS / 40 FEET OF ROW     340
Unit: PCT DEFOLIATED     337
Unit: PCT STRIPPED     293
Unit: LB, IN SHELL BASIS     283
Unit: HILLS / ACRE     278
Unit: PCT VINES DRY     271
Unit: LB, NET TRADING WEIGHT BASIS     232
Unit: PCT CLOSED MIDDLES (ROWS FILLED)     222
Unit: REACTIONS SINCE 1987     200
Unit: REACTIONS SINCE 1989     200
Unit: PCT BREAKING DORMANCY     175
Unit: $, ON TREE EQUIV     118
Unit: LBS / BOX     104
Unit: TON     60
Unit: LB / LB     52
Unit: PCT OF ORGANIC SALES     49
Unit: TONS, DRY BASIS     48
Unit: PCT OF COMMODITY TOTALS     35
Unit: TON / TON     32
Unit: GALLONS / BOX     30
Unit: $, FOB     29
Unit: YYYYMMDD     5
Unit: PCT NOT READY FOR STRIPPING     4
Unit: PCT READY FOR STRIPPING     4
Unit: PCT OF PLANTED     3
Unit: PCT ABOVE NORMAL     3
Unit: PCT THINNED     2
Unit: PCT DORMANT     2
Unit: PCT NORMAL     1
Unit: CENTS / LB     1
Unit: PCT BELOW NORMAL     1

In [66]:
tons_df = df.loc[df['UNIT_DESC'] == 'ACRES']
tons_df['COMMODITY_DESC'].value_counts()

COMMODITY_DESC
WHEAT             1280142
CORN               550461
HAY                463230
SOYBEANS           293794
BARLEY             251713
SORGHUM            239061
OATS               222478
COTTON             146879
BEANS              122781
POTATOES            78451
SUNFLOWER           58254
SWEET CORN          49482
PEACHES             49053
TOBACCO             48704
PEAS                48158
PECANS              44584
MELONS              43845
SQUASH              43248
TOMATOES            42988
APPLES              42348
PEARS               41000
RYE                 39773
PEANUTS             39231
LETTUCE             37463
PEPPERS             36258
GRAPES              35675
BLUEBERRIES         33525
ONIONS              27138
SUGARBEETS          25387
CUCUMBERS           24873
RICE                24565
CHERRIES            24220
CABBAGE             23864
SWEET POTATOES      20740
RASPBERRIES         20722
PUMPKINS            20180
STRAWBERRIES        19844
BLACKBERRIES        18010
PLUMS & PRUNES      17318
CARROTS             13093
BROCCOLI            12418
BEETS               11639
GARLIC              11039
ASPARAGUS           10973
EGGPLANT            10831
ORANGES              9567
SPINACH              9506
CAULIFLOWER          7724
APRICOTS             7320
SUGARCANE            4867
GRAPEFRUIT           2701
LEMONS               2500
Name: count, dtype: int64

In [67]:
tot_crops = ["WHEAT", "CORN", "HAY", "SOYBEANS", "BARLEY", "OATS", "SORGHUM", "COTTON",
         "BEANS", "POTATOES", "TOBACCO", "PEANUTS", "SUNFLOWER", "APPLES", "RYE",
         "RICE", "PEACHES", "TOMATOES", "SWEET CORN", "PEAS", "PEARS", "SUGARBEETS",
         "MELONS", "PECANS", "BLUEBERRIES", "SQUASH", "ONIONS", "LETTUCE", "PEPPERS",
         "GRAPES", "SWEET POTATOES", "CHERRIES", "STRAWBERRIES", "CABBAGE", "CUCUMBERS",
         "ORANGES", "RASPBERRIES", "PUMPKINS", "BLACKBERRIES", "PLUMS & PRUNES", "CARROTS",
         "BROCCOLI", "SUGARCANE", "GARLIC", "ASPARAGUS", "SPINACH", "BEETS", "GRAPEFRUIT",
         "EGGPLANT", "APRICOTS", "CAULIFLOWER", "LEMONS"]

crops=[]

for key in tons_df.keys():
    crops.append(key)

all_crops = set(tot_crops)
acre_crops = set(crops)

missing_crops = all_crops - acre_crops

for crop in missing_crops:
    print(crop)

SORGHUM
PEPPERS
CUCUMBERS
CARROTS
GRAPES
GRAPEFRUIT
SQUASH
MELONS
CABBAGE
GARLIC
HAY
SUNFLOWER
TOMATOES
CAULIFLOWER
LEMONS
SUGARBEETS
ORANGES
RICE
SWEET POTATOES
CHERRIES
SWEET CORN
PEACHES
PLUMS & PRUNES
BLACKBERRIES
BARLEY
CORN
APPLES
OATS
LETTUCE
BROCCOLI
RASPBERRIES
STRAWBERRIES
POTATOES
TOBACCO
RYE
PECANS
WHEAT
ONIONS
SOYBEANS
APRICOTS
PEANUTS
COTTON
BEETS
PEAS
BLUEBERRIES
SUGARCANE
PUMPKINS
ASPARAGUS
EGGPLANT
PEARS
BEANS
SPINACH

### I want to create a dictionary that will store each crops seperate type of unit.

In [99]:
df_1980 = df.loc[df['YEAR'] >= 1980]

In [100]:
crop_units = {}
for crop in tot_crops:
    crop_units[crop] =  df_1980.loc[df_1980['COMMODITY_DESC'] == crop]

In [101]:
num_crop = 0
for key, value in crop_units.items():
    num_crop+=1
    print(key)

WHEAT
CORN
HAY
SOYBEANS
BARLEY
OATS
SORGHUM
COTTON
BEANS
POTATOES
TOBACCO
PEANUTS
SUNFLOWER
APPLES
RYE
RICE
PEACHES
TOMATOES
SWEET CORN
PEAS
PEARS
SUGARBEETS
MELONS
PECANS
BLUEBERRIES
SQUASH
ONIONS
LETTUCE
PEPPERS
GRAPES
SWEET POTATOES
CHERRIES
STRAWBERRIES
CABBAGE
CUCUMBERS
ORANGES
RASPBERRIES
PUMPKINS
BLACKBERRIES
PLUMS & PRUNES
CARROTS
BROCCOLI
SUGARCANE
GARLIC
ASPARAGUS
SPINACH
BEETS
GRAPEFRUIT
EGGPLANT
APRICOTS
CAULIFLOWER
LEMONS

In [103]:
dict_shape = {}
for key, value in crop_units.items():
    dict_shape[key] = value.shape[0]

dict_shape = dict(sorted(dict_shape.items(), key=lambda item: item[1]))

for key, value in dict_shape.items():
    print(f"{key}    {value:,}")

LEMONS    12,443
APRICOTS    17,159
GRAPEFRUIT    19,547
CAULIFLOWER    19,588
EGGPLANT    21,749
SUGARCANE    22,842
BEETS    23,334
SPINACH    23,751
ASPARAGUS    24,190
GARLIC    25,572
BROCCOLI    29,897
CARROTS    32,101
PLUMS & PRUNES    36,211
BLACKBERRIES    40,600
PUMPKINS    41,900
ORANGES    43,020
RASPBERRIES    47,302
CUCUMBERS    54,214
SWEET POTATOES    54,577
CABBAGE    57,381
STRAWBERRIES    58,015
CHERRIES    59,369
RYE    73,205
LETTUCE    82,957
PEPPERS    83,353
GRAPES    83,610
SUGARBEETS    84,864
ONIONS    85,316
SQUASH    91,853
BLUEBERRIES    94,686
PECANS    100,326
MELONS    101,669
PEARS    108,440
PEAS    115,004
SWEET CORN    118,698
TOMATOES    123,289
RICE    133,694
PEACHES    144,011
APPLES    166,330
SUNFLOWER    169,840
TOBACCO    185,035
PEANUTS    193,563
POTATOES    237,309
BEANS    301,422
BARLEY    497,574
OATS    514,575
SORGHUM    549,505
COTTON    599,439
SOYBEANS    996,163
HAY    1,328,585
CORN    1,614,593
WHEAT    2,437,081

In [96]:
years = df['YEAR'].value_counts()

years = dict(sorted(years.items(), key=lambda item: item[0]))

total = 0
for key, value in years.items():
    if int(key) >= 1980:
        print(f"{key}      {value:,}")
        total+=value

1980      194,917
1981      201,293
1982      201,951
1983      203,419
1984      207,642
1985      208,828
1986      204,470
1987      197,625
1988      196,176
1989      197,421
1990      193,396
1991      179,581
1992      182,298
1993      180,454
1994      175,749
1995      170,704
1996      159,832
1997      316,975
1998      159,098
1999      161,392
2000      159,144
2001      156,396
2002      589,111
2003      157,624
2004      156,016
2005      153,484
2006      152,870
2007      916,037
2008      135,371
2009      101,376
2010      99,675
2011      114,357
2012      924,542
2013      110,495
2014      282,484
2015      245,339
2016      248,421
2017      1,283,344
2018      231,036
2019      227,343
2020      203,674
2021      224,977
2022      1,058,364
2023      207,361
2024      148,689

In [97]:
print(f"{total:,}")

12,180,751

In [88]:
df.head()

NameError: name 'df' is not defined